
<suite name="suite1">
<test name = "test11">
    <classes>
        <class name="org.sele.git.TestFirst">
        <methods>
           <include name="launch1"/>
            <include name="launch2"/>
            <include name="launch3"/>
        </methods>
        </class>
    </classes>

</test>
</suite>
